<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="icon" type="image/png" href="/icon/apple.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

</head>

<body>
    <%- include("../../views/partials/user/sidebar") %>
        <div class="content">

            <div class="d-flex justify-content-center mt-5">
                <div class="col-lg-10 col-md-12 card shadow-lg p-4">
                    <% if (userData) { %>
                        <div><span>Name :</span>
                            <b><span id="userName">
                                    <%= userData.name %>
                                </span></b>
                        </div>
                        <div><span>Email :</span>
                            <b><span  id="userEmail">
                                    <%= userData.email %>
                                </span></b>
                        </div>
                        <div><span >Secondary Email :</span>
                            <b><span id="secondEmail">
                                    <%= userData.secondaryEmail %>
                                </span></b>
                        </div>
                        <div><span>Phone :</span>
                            <b><span id="phoneNum">
                                    <%= userData.phone %>
                                </span></b>
                        </div>
                        <!-- <input type="text" class="form-control fw-bold" id="name" name="name" placeholder="Full Name" value="<%= userData.name %>"> -->
                        <% } else { %>
                            <div><span>Name :</span> ''</div>
                            <div><span>Email :</span> ''</div>
                            <div><span>Secondary Email :</span> ''</div>
                            <div><span>Phone :</span> ''</div>
                            <!-- <input type="text" class="form-control fw-bold" id="name" name="name" placeholder="Full Name"> -->
                            <% } %>

                </div>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <div class="col-lg-10 col-md-12">
                    <div class="card shadow-lg p-4">
                        <div class="row">

                            <!-- Form Section -->
                            <div class="col-lg-12">
                                <form id="accountForm" action="/user/account" method="post">

                                    <% if (locals.message && locals.message.length> 0) { %>
                                        <div id="alertMessage" class="alert alert-danger alert-dismissible fade show"
                                            role="alert">
                                            <%= locals.message %>
                                        </div>
                                        <% } %>

                                            <% if (locals.success && locals.success.length> 0) { %>
                                                <div id="alertMessage"
                                                    class="alert alert-success alert-dismissible fade show"
                                                    role="alert">
                                                    <%= locals.success %>
                                                </div>
                                                <% } %>
                                                    <!-- Profile Picture -->
                                                    <div class="  d-flex  justify-content-center ">
                                                        <img src="/image/profile.png" alt="Profile"
                                                            class="rounded-circle img-fluid shadow col-lg-2">

                                                    </div>

                                                    <div class="row">
                                                        <!-- Name Field -->
                                                        <div class="col-lg-6 my-2">
                                                            <label for="name" class="form-label">Full Name</label>
                                                            <input type="text" class="form-control fw-bold" id="name"
                                                                name="name" placeholder="Full Name"
                                                                value="<%=  userData ? userData.name : '' %>">
                                                            <span class="error-message text-danger"></span>
                                                        </div>

                                                        <!-- Email Field -->
                                                        <div class="col-lg-6 my-2">
                                                            <label for="email" class="form-label">Email</label>
                                                            <input type="email" class="form-control fw-bold"
                                                                id="newemail" name="newemail" placeholder="Email"
                                                                value="<%=  userData ? userData.email : '' %>">
                                                            <input type="email" class="form-control fw-bold" id="email"
                                                                name="email" placeholder="Email"
                                                                value="<%=  userData ? userData.email : '' %>" hidden>
                                                            <span class="error-message text-danger"></span>
                                                        </div>

                                                        <!-- Secondary Email Field -->
                                                        <div class="col-lg-6 my-2">
                                                            <label for="secondaryEmail" class="form-label">Secondary
                                                                Email</label>
                                                            <input type="email" class="form-control fw-bold"
                                                                id="secondaryEmail" name="secondaryEmail"
                                                                placeholder="Secondary Email"
                                                                value="<%=  userData ? userData.secondaryEmail : '' %>">
                                                            <div id="secondEmail">

                                                            </div>
                                                            <span class="error-message text-danger"></span>
                                                        </div>

                                                        <!-- Phone Number Field -->
                                                        <div class="col-lg-6 my-2">
                                                            <label for="phoneNumber" class="form-label">Phone
                                                                Number</label>
                                                            <input type="text" class="form-control fw-bold"
                                                                id="phoneNumber" name="phone" placeholder="Phone Number"
                                                                value="<%=  userData ? userData.phone : '' %>">
                                                            <span class="error-message text-danger"></span>
                                                        </div>


                                                    </div>

                                                    <div class="text-center mt-4">
                                                        <button type="submit" class="btn btn-dark px-5 py-2">Edit
                                                            Account</button>
                                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center my-5">
                <div class="col-lg-10 col-md-12">
                    <div class="card shadow-lg p-4">
                        <div class="row">
                            <h4>Change password</h4>
                            <!-- Form Section -->
                            <div class="col-lg-12">
                                <form id="changePassForm" action="/user/accountChangePass" method="post">
                                    <div class="row">
                                        <div class="col-lg-12 my-2">
                                            <label for="current-password" class="form-label">Current Password</label>
                                            <div id="error1" class="error-msg text-danger"></div>
                                            <input type="password" class="form-control fw-bold" id="current-password"
                                                name="current-password" placeholder="Password...">
                                        </div>
                                        <div class="col-lg-6 my-2">
                                            <label for="new-password" class="form-label">New Password</label>
                                            <div id="error2" class="error-msg text-danger"></div>
                                            <input type="password" class="form-control fw-bold" id="password"
                                                name="password" placeholder="Password...">
                                        </div>
                                        <div class="col-lg-6 my-2">
                                            <label for="cpassword" class="form-label">Confirm Password</label>
                                            <div id="error3" class="error-msg text-danger"></div>
                                            <input type="password" class="form-control fw-bold" id="confirm-password"
                                                name="confirm-password" placeholder="Confirm Password...">
                                        </div>
                                    </div>

                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-dark px-5 py-2">Change password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <script src="/js/user/userAccount.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        

</body>

</html>